.gallery-r10-wrapper {
  display: contents;
}
 
.gallery-r10-thq-thq-gallery3-elm-elm {
  width: 363px;
  height: 408px;
  display: flex;
  overflow: hidden;
  position: static;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.gallery-r10-thq-slider-elm {
  width: 300px;
  height: 448px;
  display: inline-block;
}
 
.gallery-r10-thq-slider-slide-elm1 {
  display: flex;
  background-size: 100%;
  background-image: url("public/Gallery/1-500h.png");
}
 
.gallery-r10-thq-slider-slide-elm2 {
  display: flex;
  background-size: 100%;
  background-image: url("public/Gallery/2-500h.png");
}
 
.gallery-r10-thq-slider-slide-elm3 {
  display: flex;
  background-size: 100%;
  background-image: 777667e5-4e32-425e-9d2a-8028b453031f;
}
 
.gallery-r10-thq-slider-pagination-elm {
  display: block;
}
 

 
.gallery-r10root-class-name1 {
  position: static;
  align-self: center;
}
 
@media(max-width: 479px) {
  .gallery-r10-thq-thq-gallery3-elm-elm {
    position: static;
  }
  .gallery-r10-thq-slider-slide-elm3 {
    background-image: url("public/Gallery/1-500h.png");
  }
  .gallery-r10root-class-name1 {
    position: relative;
  }
}

.features-wrapper {
  display: contents;
}
 
.features-thq-section-elm {
  position: relative;
}
 
.features-thq-heading-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.features-thq-header-elm {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
 
.features-text {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
 
.features-thq-divider-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
 
@media(max-width: 991px) {
  .features-thq-section-elm {
    border-right-width: 0px;
  }
  .features-thq-divider-elm {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
 
@media(max-width: 767px) {
  .features-thq-header-elm {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text {
    font-size: 14px;
    line-height: 21px;
  }
}

.features-wrapper-bkxs {
  display: contents;
}
 
.features-thq-section-elm1 {
  position: relative;
}
 
.features-thq-heading-elm1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.features-thq-header-elm1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
 
.features-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
 
.features-thq-divider-elm1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
 
@media(max-width: 991px) {
  .features-thq-section-elm1 {
    border-right-width: 0px;
  }
  .features-thq-divider-elm1 {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
 
@media(max-width: 767px) {
  .features-thq-header-elm1 {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text1 {
    font-size: 14px;
    line-height: 21px;
  }
}

.features-wrapper-tqsu {
  display: contents;
}
 
.features-thq-section-elm2 {
  position: relative;
}
 
.features-thq-heading-elm2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.features-thq-header-elm2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
 
.features-text2 {
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 300px;
  line-height: 24px;
}
 
.features-thq-divider-elm2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
 
@media(max-width: 991px) {
  .features-thq-section-elm2 {
    border-right-width: 0px;
  }
  .features-thq-divider-elm2 {
    width: 80px;
    height: 1px;
    display: flex;
    border-color: #ffffff;
    border-width: 0px;
    background-color: #ffffff;
  }
}
 
@media(max-width: 767px) {
  .features-thq-header-elm2 {
    font-size: 20px;
    line-height: 24px;
  }
  .features-text2 {
    font-size: 14px;
    line-height: 21px;
  }
}

.gallery500g-wrapper {
  display: contents;
}
 
.gallery500g-thq-gallery3-elm {
  width: 100%;
  height: 436px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.gallery500g-thq-slider-elm {
  width: 1110px;
  height: 494px;
  display: block;
  margin-top: var(--dl-layout-space-halfunit);
  margin-left: var(--dl-layout-space-halfunit);
  margin-right: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-threeunits);
  border-radius: var(--dl-layout-radius-radius4);
  margin-bottom: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-threeunits);
}
 
.gallery500g-thq-slider-slide-elm1 {
  width: 25%;
  display: flex;
  padding: 0px;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/salty-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm2 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/tokjhalmisti-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm3 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/mouchak-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm4 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/moglai-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm5 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/hariyalijhal-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm6 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/moglai-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm7 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/masala-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm8 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/psnack-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-slide-elm9 {
  width: 25%;
  display: flex;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-size: contain;
  background-image: url("public/Gallery/psnacks-1200w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.gallery500g-thq-slider-pagination-elm {
  display: block;
}
 
.gallery500groot-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  position: static;
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
@media(max-width: 479px) {
  .gallery500g-thq-gallery3-elm {
    width: 391px;
    height: 397px;
  }
  .gallery500g-thq-slider-elm {
    width: 366px;
    height: 313px;
    margin-left: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .gallery500g-thq-slider-slide-elm1 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm2 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: url("public/Gallery/hariyalijhal-1200w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm3 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: url("public/Gallery/mouchak-1200w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm4 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: url("public/Gallery/salty-1200w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm5 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: url("public/Gallery/mouchak-1200w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm6 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: url("public/Gallery/moglai-1200w.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm7 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: a911970c-146c-493b-a734-5438b4c91322;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm8 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: a911970c-146c-493b-a734-5438b4c91322;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500g-thq-slider-slide-elm9 {
    width: 100%;
    height: var(--dl-layout-size-xxlarge);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-size: contain;
    background-image: a911970c-146c-493b-a734-5438b4c91322;
    background-repeat: no-repeat;
    background-position: center;
  }
  .gallery500groot-class-name {
    position: static;
    align-self: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
 
.home-thq-modal-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
 
.home-thq-practices-elm {
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.home-thq-heading-elm10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-thq-header-elm10 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-close-elm {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
 
.home-thq-close-elm:hover {
  opacity: 0.5;
}
 
.home-thq-grid-elm1 {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
 
.home-thq-section-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm11 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm11 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm1 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text10 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image10 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-section-elm2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm12 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm2 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text11 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image11 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-section-elm3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm13 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm13 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm3 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text12 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image12 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-section-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm14 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm4 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text13 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image13 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-section-elm5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm15 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm5 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text14 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image14 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-section-elm6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
 
.home-thq-heading-elm16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm16 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
 
.home-thq-caption-elm6 {
  max-width: 385px;
  line-height: 24px;
}
 
.home-text15 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
 
.home-image15 {
  width: 12px;
  object-fit: cover;
}
 
.home-thq-home-elm {
  width: 100%;
  height: 756px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
}
 
.home-thq-header-elm17 {
  width: 100%;
  height: 127px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 
.home-thq-navbar-elm {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.home-thq-left-elm1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-thq-image-elm {
  width: 200px;
  object-fit: cover;
}
 
.home-thq-links-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-thq-link-elm10 {
  color: #ff2424;
  cursor: pointer;
  display: block;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-thq-link-elm10:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm11 {
  color: #ff2424;
  cursor: pointer;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-thq-link-elm11:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm12 {
  color: #ff2424;
  cursor: pointer;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-thq-link-elm12:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm13 {
  color: #ff2424;
  cursor: pointer;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
}
 
.home-thq-link-elm13:hover {
  opacity: 0.5;
}
 
.home-thq-right-elm1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-thq-burger-menu-elm {
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}
 
.home-icon2 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-thq-nav-elm1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-image16 {
  height: 2rem;
}
 
.home-thq-menu-close-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon4 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-thq-nav-elm2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text16 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text17 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text18 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text19 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-thq-book-elm {
  text-align: center;
  text-decoration: none;
}
 
.home-image17 {
  width: 18px;
  object-fit: cover;
}
 
.home-text20 {
  font-family: Inter;
}
 
.home-thq-content-elm1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: 401px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
 
.home-thq-heading-elm17 {
  gap: var(--dl-layout-space-unit);
  width: 614px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
  justify-content: center;
}
 
.home-thq-header-elm18 {
  height: 216px;
  position: relative;
  font-size: 48px;
  max-width: auto;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
}
 
.home-thq-heading-elm18 {
  gap: var(--dl-layout-space-unit);
  width: 398px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
  justify-content: center;
}
 
.home-thq-features-elm {
  width: 100%;
  height: 169px;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: center;
  background-color: rgba(243, 18, 22, 0.6);
}
 
.home-thq-content-elm2 {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
}
 
.home-thq-products-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: 458px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-thq-heading-elm19 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text21 {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
}
 
.home-text22 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-thq-content-elm3 {
  gap: var(--dl-layout-space-fourunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-grid-elm2 {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
 
.home-thq-heading-elm20 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  margin-top: O;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text23 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-text24 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-separator1 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-thq-heading-elm21 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text25 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-text26 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-separator2 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-thq-heading-elm22 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text27 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-text28 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-separator3 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-thq-heading-elm23 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text29 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
 
.home-text30 {
  font-size: 18px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-separator4 {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-thq-gallery-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: 706px;
  display: flex;
  max-width: auto;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-heading-elm24 {
  display: block;
  font-size: 56px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-layout-space-twounits);
  font-weight: 600;
}
 
.home-thq-about-us-elm {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-thq-section-elm7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-content-elm4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-header-elm19 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-heading-elm25 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-capton-elm1 {
  font-size: 22px;
  max-width: 600px;
  font-weight: 700;
  line-height: 27px;
}
 
.home-thq-capton-elm2 {
  font-size: 16px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-thq-more-elm7 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-image18 {
  width: 400px;
  object-fit: cover;
}
 
.home-thq-section-elm8 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
 
.home-thq-header-elm20 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-heading-elm26 {
  font-size: 44px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-capton-elm3 {
  font-size: 16px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-thq-header-elm21 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-heading-elm27 {
  font-size: 44px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-capton-elm4 {
  font-size: 16px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-thq-header-elm22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-thq-heading-elm28 {
  font-size: 44px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-capton-elm5 {
  font-size: 16px;
  max-width: 600px;
  line-height: 27px;
}
 
.home-thq-why-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-color: #f3f4fd;
}
 
.home-thq-heading-elm29 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-thq-header-elm23 {
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
 
.home-thq-header-elm24 {
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
 
.home-thq-content-elm5 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-why-us-elm {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-whyus-elm {
  width: 100%;
}
 
.home-thq-contact-us-elm {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: 794px;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  border-color: #B4B9C6;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
  border-bottom-width: 1px;
}
 
.home-thq-heading-elm30 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 1009px;
  height: 287px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text31 {
  width: 253px;
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-text32 {
  width: 416px;
  font-size: 18px;
  max-width: 385px;
  text-align: left;
  line-height: 27px;
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-text33 {
  font-size: 24px;
  font-weight: 700;
}
 
.home-text34 {
  font-size: 24px;
  line-height: 27px;
}
 
.home-text35 {
  font-size: 24px;
}
 
.home-text36 {
  font-size: 24px;
}
 
.home-text37 {
  font-size: 24px;
}
 
.home-text38 {
  font-size: 24px;
}
 
.home-text39 {
  font-size: 24px;
}
 
.home-text40 {
  font-size: 24px;
}
 
.home-text42 {
  width: 488px;
  height: 136px;
  font-size: 24px;
  max-width: 385px;
  line-height: 27px;
}
 
.home-text43 {
  font-weight: 700;
}
 
.home-text44 {
  line-height: 27px;
}
 
.home-thq-footer-elm {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: rgba(243, 18, 22, 0.6);
}
 
.home-thq-left-elm2 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-thq-brand-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link {
  display: contents;
}
 
.home-image19 {
  width: 165px;
  object-fit: cover;
  text-decoration: none;
}
 
.home-text51 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
 
.home-thq-socials-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-image20 {
  width: 24px;
  object-fit: cover;
}
 
.home-image21 {
  width: 24px;
  object-fit: cover;
}
 
.home-image22 {
  width: 24px;
  object-fit: cover;
}
 
.home-thq-legal-elm1 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-thq-copyright-elm1 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
 
.home-thq-right-elm2 {
  gap: 140px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-thq-list-elm1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm25 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-links-elm2 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-link-elm14 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm14:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm15 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm15:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm16 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm16:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm17 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm17:hover {
  opacity: 0.5;
}
 
.home-thq-list-elm2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-header-elm26 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-links-elm3 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-link-elm18 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
}
 
.home-thq-link-elm18:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm19 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm19:hover {
  opacity: 0.5;
}
 
.home-thq-link-elm20 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
 
.home-thq-link-elm20:hover {
  opacity: 0.5;
}
 
.home-thq-legal-elm2 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-thq-row-elm {
  display: flex;
}
 
.home-thq-copyright-elm6 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
 
@media(max-width: 991px) {
  .home-thq-home-elm {
    flex: 1;
    height: 0px;
  }
  .home-thq-navbar-elm {
    z-index: 1000;
  }
  .home-thq-links-elm1 {
    display: none;
  }
  .home-thq-right-elm1 {
    display: none;
  }
  .home-thq-burger-menu-elm {
    display: flex;
    padding: var(--dl-layout-space-unit);
    border-radius: var(--dl-layout-radius-round);
    background-color: #2461FF;
  }
  .home-icon2 {
    fill: white;
  }
  .home-thq-content-elm1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-thq-header-elm18 {
    max-width: 75%;
  }
  .home-thq-features-elm {
    padding-top: var(--dl-layout-space-fourunits);
    flex-direction: row;
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-content-elm2 {
    flex-direction: column;
  }
  .home-thq-products-elm {
    flex-direction: column;
  }
  .home-thq-gallery-elm {
    flex-direction: column;
  }
  .home-thq-about-us-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-thq-section-elm7 {
    gap: var(--dl-layout-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image18 {
    width: 100%;
  }
  .home-thq-section-elm8 {
    gap: var(--dl-layout-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-thq-why-elm {
    gap: var(--dl-layout-space-threeunits);
  }
  .home-thq-footer-elm {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-thq-left-elm2 {
    padding-right: 0px;
  }
  .home-thq-socials-elm {
    display: none;
  }
  .home-thq-legal-elm1 {
    display: none;
  }
  .home-thq-right-elm2 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
  .home-thq-legal-elm2 {
    gap: var(--dl-layout-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .home-thq-row-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .home-thq-home-elm {
    display: flex;
  }
  .home-thq-navbar-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-thq-burger-menu-elm {
    display: flex;
  }
  .home-thq-content-elm1 {
    width: 741px;
    height: 279px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-thq-heading-elm17 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .home-thq-header-elm18 {
    width: 517px;
    height: 157px;
    display: flex;
    font-size: 32px;
    max-width: 70%;
    align-self: center;
    text-align: center;
    align-items: center;
    line-height: 38px;
    justify-content: center;
  }
  .home-thq-heading-elm18 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .home-thq-features-elm {
    height: 478px;
    display: flex;
  }
  .home-thq-content-elm2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-thq-products-elm {
    height: 971px;
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-heading-elm19 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text21 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text22 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-content-elm3 {
    gap: var(--dl-layout-space-threeunits);
    width: 100%;
  }
  .home-thq-grid-elm2 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .home-thq-heading-elm20 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text23 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text24 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-heading-elm21 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text25 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text26 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-heading-elm22 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text27 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text28 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-heading-elm23 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text29 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text30 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-gallery-elm {
    height: 971px;
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-about-us-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-content-elm4 {
    gap: var(--dl-layout-space-unit);
  }
  .home-thq-heading-elm25 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-thq-capton-elm1 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-thq-capton-elm2 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-thq-heading-elm26 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-thq-capton-elm3 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-thq-heading-elm27 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-thq-capton-elm4 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-thq-heading-elm28 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-thq-capton-elm5 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-thq-why-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-header-elm23 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-thq-header-elm24 {
    font-size: 14px;
    max-width: 60%;
    line-height: 21px;
  }
  .home-thq-content-elm5 {
    gap: var(--dl-layout-space-twounits);
  }
  .home-thq-contact-us-elm {
    gap: var(--dl-layout-space-twounits);
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-heading-elm30 {
    gap: var(--dl-layout-space-unit);
  }
  .home-text31 {
    font-size: 24px;
  }
  .home-text32 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text33 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text35 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text36 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text37 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text38 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text39 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text40 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text41 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text42 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-thq-footer-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-image19 {
    width: 110px;
  }
  .home-text51 {
    font-size: 12px;
    line-height: 18px;
  }
}
 
@media(max-width: 479px) {
  .home-thq-modal-elm {
    position: static;
  }
  .home-thq-home-elm {
    height: 1394px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-thq-header-elm17 {
    height: 143px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
  }
  .home-thq-navbar-elm {
    padding: var(--dl-layout-space-unit);
  }
  .home-thq-mobile-menu-elm {
    padding: 16px;
  }
  .home-thq-content-elm1 {
    width: auto;
    height: 624px;
    display: flex;
    position: relative;
    align-self: center;
  }
  .home-thq-heading-elm17 {
    width: auto;
    height: auto;
    align-items: center;
    padding-top: var(--dl-layout-space-unit);
  }
  .home-thq-header-elm18 {
    width: auto;
    height: auto;
    position: static;
    font-size: 25px;
    max-width: 80%;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
  }
  .home-thq-heading-elm18 {
    width: 100%;
    height: 402px;
    align-self: center;
    flex-direction: column;
  }
  .home-thq-features-elm {
    height: 499px;
    display: flex;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-thq-products-elm {
    height: 824px;
    display: flex;
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-content-elm3 {
    height: 696px;
  }
  .home-text23 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-thq-heading-elm21 {
    margin-top: 0px;
  }
  .home-text25 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text27 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-text29 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-thq-gallery-elm {
    height: 507px;
    display: flex;
    padding: var(--dl-layout-space-twounits);
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-thq-heading-elm24 {
    font-size: 30px;
    align-self: center;
    margin-top: var(--dl-layout-space-twounits);
    text-align: left;
  }
  .home-thq-about-us-elm {
    position: relative;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-content-elm4 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-thq-header-elm20 {
    padding-right: 0px;
  }
  .home-thq-why-elm {
    position: relative;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-contact-us-elm {
    height: 432px;
    position: relative;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-thq-heading-elm30 {
    width: 479px;
    height: 321px;
    padding-top: 0px;
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text31 {
    text-align: center;
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-container2 {
    width: 100%;
    height: 276px;
    align-items: stretch;
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-text32 {
    height: 123px;
    margin-right: 0px;
  }
  .home-thq-footer-elm {
    height: 754px;
    position: relative;
    padding-top: var(--dl-layout-space-twounits);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-left-elm2 {
    width: auto;
    align-self: flex-start;
    flex-direction: column;
  }
  .home-thq-right-elm2 {
    height: 337px;
    align-self: flex-start;
  }
  .home-thq-link-elm17 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
  }
  .home-thq-header-elm26 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
  }
  .home-thq-copyright-elm6 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
